body{

color: white;
background:black;

margin: 0px

}

header {
     
border-bottom: solid 2px blue;

padding: 20px;

font-size: 32px;

color: rgb(255, 255, 255);

}

section{
background-color: blue;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;


}

.chamada-texto{
margin-right: 5%;


}



